doctype html
html
  head
    meta(name="viewport" content="width=device-width")
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    title
      block subject
  body
    row
      columns &nbsp;
      columns(class="container custom-layout")
        div(class="content")
          span(class="preheader")
            block preview
          row(class="main")
            columns(class="wrapper")
              row
                columns(class="logo-wrapper-custom")
                  img(src="https://raw.githubusercontent.com/reckonsys/press-kit/master/logo.png", class="logo")
              div(class="box-content")
                row
                  columns
                    p(class="user-heading") Hi %USERNAME%,
                    block content
                row
                  columns
                    | Cheers,
                    br
                    span
                      | The Reckonsys Team
                    br
                    a(href="mailto:info@reckonsys") info@reckonsys.com
      columns &nbsp;
