doctype html
html
  head
    meta(name="viewport" content="width=device-width")
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    title
      block subject
  body
    row
      columns &nbsp;
      columns
        div(class="content")
          span(class="preheader")
            block preview
          row(class="main")
            columns
              row(class="theme-strap")
                columns(class="logo-wrapper")
                  img(src="https://raw.githubusercontent.com/aircto/presskit/master/logo/aircto.png", class="logo")
              row
                columns.container
                  row
                    columns
                      h1(class="subject")
                        block subject

                      p Hi %USERNAME%,
                      block content

                  hr
                  row
                    columns
                      span(class="end-note") If you have any questions/concerns, please reply to this email or contact us
                      br
                      a(href="mailto:team@aircto.com") team@aircto.com
                      br
                      row
                        columns(class="end-note")
                         | 96 111 48603
                        columns(class="right-text end-note")
                         | @LaunchYard Ptv  Ltd 2017
      columns &nbsp;
