doctype html
html
  head
    meta(name="viewport" content="width=device-width")
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    title
      block subject
  body
    row
      columns &nbsp;
      columns(class="container")
        div(class="content")
          span(class="preheader")
            block preview
          row(class="main")
            columns(class="wrapper")
              row
                columns(class="logo-wrapper")
                  img(src="https://raw.githubusercontent.com/appknox/press-kit/master/logo/logo-dark-small.png", class="logo", style="display:%SHOW_APPKNOX%")
                  img(src="https://raw.githubusercontent.com/devknox/press-kit/master/logo/devknox.png", class="logo", style="display:%SHOW_DEVKNOX%")
              row
                columns
                  p Hi %USERNAME%
                  block content
              row
                columns
                  | Cheers,
                  br
                  span(style="display:%SHOW_APPKNOX%")
                    | Team Appknox
                  span(style="display:%SHOW_DEVKNOX%")
                    | Team Devknox
                  br
                  a(href="mailto:support@appknox.com", style="display:%SHOW_APPKNOX%") support@appknox.com
                  a(href="mailto:support@devknox.io", style="display:%SHOW_DEVKNOX%") support@devknox.io
          div(class="footer")
            row
              columns
                span(class="apple-link", style="display:%SHOW_APPKNOX%")
                  | Appknox, XYSec Labs, 79 Ayer Rajah Crescent, Singapore - 139951
                span(class="apple-link", style="display:%SHOW_DEVKNOX%")
                  | Devknox, XYSec Labs, 79 Ayer Rajah Crescent, Singapore - 139951
      columns &nbsp;
