doctype html
html
  head
    meta(name="viewport" content="width=device-width")
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    title
      block subject
  body
    row
      columns &nbsp;
      columns(class="container")
        div(class="content")
          span(class="preheader")
            block preview
          row(class="main")
            columns(class="wrapper")
              row
                columns(class="logo-wrapper")
                  img(src="https://raw.githubusercontent.com/reckonsys/press-kit/master/logo.png", class="logo")
              row
                columns
                  p Hi %USERNAME%
                  block content
              row
                columns
                  | Cheers,
                  br
                  span Team Reckonsys
                  br
                  a(href="mailto:info@reckonsys.com") info@reckonsys.com
          div(class="footer")
            row
              columns
                span(class="apple-link")
                  | Reckonsys Tech Labs Pvt Ltd, Enzyme Tech Park, HSR Layout, Bengaluru, Karnataka 560102
      columns &nbsp;
