doctype html
html
  head
    meta(name="viewport" content="width=device-width")
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    title
      block subject
  body
    row
      columns &nbsp;
      columns(class="container")
        div(class="content")
          span(class="preheader")
            block preview
          row(class="main")
            columns(class="wrapper")
              row
                columns(class="logo-wrapper")
                  img(src="https://raw.githubusercontent.com/appknox/press-kit/master/logo/logo-dark-small.png", class="logo")
              row
                columns
                  p Hi USERNAME,
                  block content
              row
                columns
                  | Cheers,
                  br
                  | Team Appknox
                  br
                  a(href="mailto:support@appknox.com") support@appknox.com
          div(class="footer")
            row
              columns
                span(class="apple-link") Appknox, XYSec Labs, 71 Ayer Rajah Crescent, Singapore - 139951
      columns &nbsp;
