doctype html
html(lang="en")
  head
    title.
      Foo
  body
    h1 Pug - node template engine
    #container.col
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.
