@import "variables";
@import "reset";
@import "layout";
@import "typography";
@import "buttons";
@import "extras";
@import "media";

/* -------------------------------------
Extra Styles Goes Here
------------------------------------- */

* {
  font-family: Lato;
}
th {
  text-align: left;
}

.logo-wrapper {
  padding: 10px;
  th{
    text-align: right;
    .logo {
      width: 25%;
    }
  }
}

.icon-wrapper {
  th{
    text-align: right;
    padding-right: 10px;
    .social-icon {
      width: 15%;
    }
  }
}

.step-section {
  border: 2px dashed #ccc;
  margin-bottom: 20px;
  border-radius: 50px;
  .main-icon-section {
    margin-left: 20px;
    .social-icon {
      margin-bottom: 15px
    }
  }
  .social-icon {
    margin-top: 10px;
    max-width: 150px;
  }
  .arrow-icon {
    width: 40px;
    margin-bottom: 50px
  }
}

p.para {
  color: #343940;
}

.content {
  max-width: 670px;
}

.box-content {
  padding: 20px;
  margin-top: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #fff
}

.user-heading {
  font-weight: bold
}

.hyperlink {
  text-decoration: none;
}

.theme-strap {
  background-color: $color-theme;
  margin-bottom: 10px;
  height: 74px;
  .logo {
      max-width: 80px;
  }
}

.subject {
    text-align: left;
}

.right-text {
    th {
    text-align: right;
    font-size: $footer-text-size;
    }
}

.end-note {
  opacity: 0.38;
  font-size: $footer-text-size;
  letter-spacing: 0px;
  color: #000000;
}
