@import "variables";

/* -------------------------------------
RESPONSIVE AND MOBILE FRIENDLY STYLES
------------------------------------- */
@media only screen and (max-width: 620px) {
  table[class=body] {
    h1 {
      font-size: 28px !important;
      margin-bottom: $padding-common !important;
    }
    p, ul, ol, td, span, a {
      font-size: 16px !important;
    }
    .wrapper, .article {
      padding: $padding-common !important;
    }
    .content {
      padding: 0 !important;
    }
    .container {
      padding: 0 !important;
      width: 100% !important;
    }
    .main {
      border-left-width: 0 !important;
      border-radius: 0 !important;
      border-right-width: 0 !important;
    }
    .btn {
      table, a {
        width: 100% !important;
      }
    }
    .img-responsive {
      height: auto !important;
      max-width: 100% !important;
      width: auto !important;
    }
  }
}

/* -------------------------------------
PRESERVE THESE STYLES IN THE HEAD
------------------------------------- */
@media all {
  .ExternalClass {
    width: 100%;
    line-height: 100%;
    p, span, font, td, div {
      line-height: 100%;
    }
  }
  .apple-link a {
    color: inherit !important;
    font-family: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    text-decoration: none !important;
  }
  .btn-primary {
    table td:hover {
      background-color: $color-theme-2 !important;
    }
    a:hover {
      background-color: $color-theme-2 !important;
      border-color: $color-theme-2 !important;
    }
  }
}
