@import "variables";
/* -------------------------------------
GLOBAL RESETS
------------------------------------- */

img {
  border: none;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
}

body {
  background-color: $bg-color;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  font-size: $font-size;
  line-height: $line-height;
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

table {
  border-collapse: separate;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
  width: 100%;
  td {
    font-family: $font-family;
    font-size: $font-size;
    vertical-align: top;
  }
}
