$bg-color: #f6f6f6;
$font-size: 14px;
$font-size-footer: $font-size - 2;
$font-family: sans-serif;
$line-height: 1.4;
$width: 580px;
$max-width: $width;
$bg-color-hero: #ffffff;
$color-footer-text: #999999;
$color-heading: #000000;
$padding-common: 10px;
$padding-wrapper: $padding-common * 2;
$display: block;
$box-sizing: border-box;
$color-theme: #fc6854;
$color-theme-2: #DF4500;
$border-radius: 5px;
